.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 7px;
  cursor: pointer;
  width: 100px;
  height: 40px;
}

button:hover{
  background-color: rgb(217, 185, 254);
  color: #282c34;
}

form{
  height: 40px;
  border: darkblue 1px solid;
  border-radius: 5px;
  width: 400px;
  display: flex;
}

.input{
  border: none;
  outline: none;
}

#NoteContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  height: 80vh; 
}
